@import '../../../../../stylesheet/base.scss';

.program-container {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    .program-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        .title {
            font-size: 20px;
            width: 40%;
            .edit-title {
                background-color: $main-card-bg;
                padding: 5px;
                border-radius: 5px;
                input {
                    background-color: transparent;
                    border: none;
                    color: white;
                    width: 100%;
                }
            }
        }
        .options {
            display: flex;
            .program-edit-button-container {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                cursor: pointer;
                width: 50px;
                min-width: 50px;
                height: 40px;
                background-color: black;
                border-radius: 25%;
                margin-left: 20px;
                -moz-box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.15);
                box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .body {
        background-color: $main-card-bg;
        padding: 10px;
        border-radius: 10px;
        @include for-mobile-481-down {
            padding: 0;
        }
        .details {
            display: flex;
            justify-content: space-between;
            .highlights {
                width: 50%;
                padding: 10px;
                .highlight {
                    width: 90%;
                    font-size: 14px;
                    color: #bdbcbe;
                    padding: 6px;
                    background-color: $grey-7;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    span {
                        width: 100%;
                        overflow-wrap: break-word;
                    }
                }
                .highlight-input {
                    background-color: transparent;
                    border: none;
                    color: #bdbcbe;
                    width: 100%;
                }
            }
            .description {
                width: 50%;
                padding: 10px;
                .text-area {
                    width: 90%;
                    font-size: 14px;
                    color: #bdbcbe;
                    padding: 6px;
                    background-color: $grey-7;
                    border-radius: 8px;
                    height: 75%;
                    word-wrap: break-word;
                }
                .description-input {
                    word-wrap: break-word;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    resize: none;
                    color: #bdbcbe;
                    border: none;
                }
            }
        }
        .program-types {
            padding: 10px;
            .add-button {
                background-color: $grey-7;
                margin: auto;
                margin-top: 15px;
            }
            .header {
                padding: 2px;
                padding-left: 10px;
                padding-right: 10px;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.01fr;
                width: 98%;
                div {
                    text-align: center;
                }
            }
            p {
                margin: 0;
            }
            .program-details {
                margin-bottom: 10px;
                background-color: $grey-7;
                padding: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.1fr;
                align-items: center;
                padding: 2px;
                border-radius: 10px;
                @include for-mobile-481-down {
                    padding: 0;
                }
                .close-icon {
                    cursor: pointer;
                }
                .program-detail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .edit-details {
                        background-color: $main-card-bg;
                        padding: 3px;
                        border-radius: 5px;
                        margin: 5px;
                        max-width: 80px;
                        @include for-mobile-481-down {
                            max-width: 40px;
                        }
                        input {
                            width: 100%;
                            background-color: transparent;
                            border: none;
                            color: white;
                        }
                    }
                }
            }
        }
        ::-webkit-scrollbar-track {
            background: $grey-8 !important;
            border-radius: 10px;
        }
        .users {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 96%;
            margin: auto;
            overflow: scroll;
            overflow-y: hidden;
            .profile-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-left: 5px;
                cursor: pointer;
                margin-right: 5px;
            }
            .tooltip-container-user {
                background-color: rgba($color: #000000, $alpha: 1) !important;
                opacity: 1 !important;
                border-radius: 5px;
                .program-tooltip-div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .date {
                        @include font(
                            $f-size-11,
                            $grey-3,
                            $font-Montserrat-Medium
                        );
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
