.preview-card-container {
    width: 240px;
    height: 130px;
    background-color: #cebfee;
    border-radius: 15px;
    color: black;
    padding-left: 5px;
    align-items: flex-end;
    display: flex;
    -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2) !important;
    .left {
        width: 50%;
        .trainer-image {
            height: 170px;
            object-fit: cover;
            opacity: 1;
            display: block;
            width: 100%;
            transition: 0.5s ease;
            backface-visibility: hidden;
            position: relative;
        }
        .trainer-image-edit {
            height: 170px;
            object-fit: cover;
            cursor: pointer;
            opacity: 1;
            display: block;
            width: 100%;
            transition: 0.5s ease;
            backface-visibility: hidden;
            position: relative;
        }
        .text {
            color: white;
            font-size: 16px;
            padding: 16px 32px;
        }
        .image-overlay {
            transition: 0.5s ease;
            opacity: 0;
            position: relative;
            left: 38%;
            bottom: 79px;
            cursor: pointer;
            width: 1px;
            height: 1px;
            transform: translate(-47%, -56%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        &:hover .trainer-image-edit {
            opacity: 0.3;
        }
        &:hover .image-overlay {
            opacity: 1;
        }
        &:hover .close-button {
            opacity: 1;
        }
        .upload-btn-container {
            label {
                height: 150px;
            }
            .button-container {
                display: flex;
                width: 100%;
                border: 0px;
                background: #0f1215;
                border-radius: 10px;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: #38cc9e;
                }
            }
        }
    }
    .right {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: space-around;
        .name {
            margin: 0%;
            font-weight: 700;
            font-size: 14px;
            margin-top: 10px;
        }
        .people-trained-text {
            margin: 0%;
            font-weight: 700;
            font-size: 22px;
        }
        .tagline {
            margin: 0%;
            font-size: 9px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .people-trained {
            @extend .tagline;
            margin-top: 0px;
        }
    }
}
