.star-container {
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;

    .star-text {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 2px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .star-text.star-text-large {
        font-size: 36px;
    }
    .star-text.star-text.star-text-small {
        font-size: 18px;
    }
    .star-text.star-text-v-small {
        font-size: 10px;
        margin-top: 0.75px;
    }
}

.star-container.left-align {
    margin-right: auto;
}

.star-container.right-align {
    margin-left: auto;
}
