@import '../../../../stylesheet/base.scss';

.support-container {
    max-width: 789px;
    margin: auto;
    .heading {
        border-bottom: 3px solid;
        width: max-content;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .contact {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: $main-card-bg;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        @include for-mobile-576 {
            flex-direction: column;
        }
        .support-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            @include for-mobile-576 {
                justify-content: flex-start;
                width: 100%;
                max-width: none;
                margin: auto;
                margin-bottom: 10px;
            }
            div {
                margin-left: 20px;
            }
            a {
                color: white;
            }
            p {
                margin: 0%;
                cursor: pointer;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
