@import '../../../stylesheet/base.scss';

.remaining-container {
    margin-top: 40px;
    .remaining-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .remaining-title {
            @include font($f-size-28, white, $font-Montserrat-SemiBold);
            margin-bottom: 10px;
        }
        .add-session-btn {
            margin-bottom: 14px;
            flex: unset;
            width: max-content;
            height: max-content;
            padding-left: 10px;
            padding-right: 10px;
            color: $green-1;
            background-color: $main-card-bg;
        }
        .add-cycle-session-btn {
            margin-left: 7px;
        }
    }
}
