.admin-table {
    .custom-pagination {
        .page-button {
            background-color: #70fcd1;
            border: none;
            border-radius: 2px;
            margin-left: 4px;
            min-width: 30px;
            margin-right: 4px;
            padding: 4px;
        }
    }
}
